@media (max-width: 1050px) {

    .logo-container {
      max-width: 188px;
      margin-right: 14px;
    }
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top .navbar-collapse {
      padding-right: 10px;
      padding-left: 10px;

    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 0px -15px;
    }
    .navbar-nav>li {
        float: none;
        height: 42px;
        border-bottom: 2px solid #323232;
        background: #202020 url("../img/arrow-right-navbar.png") 18px center no-repeat;
    }
    .navbar-nav>li:last-child {
        background: #202020 url("../img/arrow-right-navbar.png") 18px center no-repeat;
    }
    .navbar-nav>li>a {
        padding-top: 8px;
        padding-bottom: 8px;
        margin-left: 32px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
  #banner-img {
    min-height: 460px;
  }
}

@media (max-width: 1766px) and (min-width: 1406px) {
  #banner-img {
    min-height: 640px;
  }
}

@media (max-width: 1406px) and (min-width: 1200px) {
 #banner-img {
    min-height: 540px;
}
}

@media (max-width: 1199px) and (min-width: 992px) {
 #banner-img {
    min-height: 520px;
}
}

@media (max-width: 767px) {
  #banner-img {
    min-height: 424px;
}
}

@media (max-width: 1906px) and (min-width: 1766px) {
 #banner-img {
    min-height: 680px;
}}

@media (min-width: 1906px) {
#banner-img {
    min-height: 750px;
}
}
